# Part I. ETL Pipeline for Pre-Processing the Files

#### Import Python packages

In [81]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [82]:
print(os.getcwd())

filepath = os.getcwd() + '/event_data'

for root, dirs, files in os.walk(filepath):
    file_path_list = glob.glob(os.path.join(root,'*'))
    print(file_path_list)

/home/workspace
['/home/workspace/event_data/2018-11-27-events.csv', '/home/workspace/event_data/2018-11-04-events.csv', '/home/workspace/event_data/2018-11-07-events.csv', '/home/workspace/event_data/2018-11-09-events.csv', '/home/workspace/event_data/2018-11-19-events.csv', '/home/workspace/event_data/2018-11-05-events.csv', '/home/workspace/event_data/2018-11-22-events.csv', '/home/workspace/event_data/2018-11-16-events.csv', '/home/workspace/event_data/2018-11-26-events.csv', '/home/workspace/event_data/2018-11-24-events.csv', '/home/workspace/event_data/2018-11-29-events.csv', '/home/workspace/event_data/2018-11-15-events.csv', '/home/workspace/event_data/2018-11-20-events.csv', '/home/workspace/event_data/2018-11-06-events.csv', '/home/workspace/event_data/2018-11-18-events.csv', '/home/workspace/event_data/2018-11-21-events.csv', '/home/workspace/event_data/2018-11-10-events.csv', '/home/workspace/event_data/2018-11-23-events.csv', '/home/workspace/event_data/2018-11-02-events.csv', '/home/workspace/event_data/2018-11-28-events.csv', '/home/workspace/event_data/2018-11-03-events.csv', '/home/workspace/event_data/2018-11-13-events.csv', '/home/workspace/event_data/2018-11-30-events.csv', '/home/workspace/event_data/2018-11-12-events.csv', '/home/workspace/event_data/2018-11-01-events.csv', '/home/workspace/event_data/2018-11-14-events.csv', '/home/workspace/event_data/2018-11-25-events.csv', '/home/workspace/event_data/2018-11-08-events.csv', '/home/workspace/event_data/2018-11-17-events.csv', '/home/workspace/event_data/2018-11-11-events.csv']

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [83]:
full_data_rows_list = [] 
    
for f in file_path_list:
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
         
        for line in csvreader:
            full_data_rows_list.append(line) 

    
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [84]:
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

#### Read csv and check data types & structure

In [85]:
df = pd.read_csv('event_datafile_new.csv', header=0)
df.head()

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Horn Concerto No. 4 in E flat K495: II. Romanc...,88
1,Jimi Hendrix,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Woodstock Inprovisation,88
2,Building 429,Mohammad,M,2,Rodriguez,300.61669,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Majesty (LP Version),88
3,The B-52's,Gianna,F,0,Jones,321.54077,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Love Shack,38
4,Die Mooskirchner,Gianna,F,1,Jones,169.29914,free,"New York-Newark-Jersey City, NY-NJ-PA",107,Frisch und g'sund,38

# Part II. Apache Cassandra coding portion

## CSV file is titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

#### Creating a Cluster

In [14]:
from cassandra.cluster import Cluster

try: 
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()
except Exception as e:
    print(e)

#### Create Keyspace

In [15]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS music_keyspace
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }
    """
)

except Exception as e:
    print(e)

#### Set Keyspace

In [16]:
try:
    session.set_keyspace('music_keyspace')
except Exception as e:
    print(e)

#### Custom Insert Function

In [86]:
def insert_into_destination(insert_query, file='event_datafile_new.csv'):
    """
    Description:
        Function used to insert data into the destination tables.
    
    Arguments:
        insert_query - CQL Insert query string
        file - defaults to event_datafile_new.csv
    Returns:
        None
    """
    with open(file, encoding = 'utf8') as f:
        csvreader = csv.reader(f)
        next(csvreader) # skip header
        for line in csvreader:
            session.execute(insert_query, (line[0], line[1], line[2], 
                                           int(line[3]), line[4], float(line[5]), 
                                           line[6], line[7], int(line[8]), 
                                           line[9], int(line[10])))

#### Query 1: Solution 

**Question:** Give me the artist, song title and song's length in the music app history that was heard during  sessionId = 338, and itemInSession  = 4

**Type:** Composite Primary key no clustering: (session_id, item_in_session)

**Reason:** session_id & item_in_session are unique as as composite key. No requirement for a clustering column, just a simple where clause.

In [18]:
drop_query_1 = """DROP TABLE IF EXISTS music_app_history_1;"""

create_query_1 = """
    CREATE TABLE IF NOT EXISTS music_app_history_1 (
    artist text,
    first_name text,
    gender text,
    item_in_session int,
    last_name text,
    length float,
    level text,
    location text,
    session_id int,
    song text,
    user_id int,
    PRIMARY KEY (session_id, item_in_session)
    );
"""

insert_query_1 = """
    INSERT INTO music_app_history_1 (
    artist,
    first_name,
    gender,
    item_in_session,
    last_name,
    length,
    level,
    location,
    session_id,
    song,
    user_id
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

try:
    session.execute(drop_query_1)
except Exception as e:
    print(e)
    
try:
    session.execute(create_query_1)
except Exception as e:
    print(e)

In [19]:
# call insert statement
insert_into_destination(insert_query_1)

In [20]:
## TO-DO: Add in the SELECT statement to verify the data was entered into the table
select_query_1 = """
    SELECT
        artist,
        song,
        length
    FROM music_app_history_1
    WHERE session_id = %s
    AND item_in_session = %s;
"""

try:
    rows = session.execute(select_query_1, (338, 4))
except Exception as e:
    print(e)

for row in rows:
    print (row.artist, row.song, row.length)

Faithless Music Matters (Mark Knight Dub) 495.30731201171875

### Query 2: Solution

**Question:** Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

**Type:** Composite primary key on user_id & session_id with clustering column on item_in_session. 

**Reason:** We are asked to filter by user_id then session_id so they should come first in that order. Then we are asked to order by item_in_session which could benefit from being added as a clustering column.

In [38]:
drop_query_2 = """DROP TABLE IF EXISTS music_app_history_2;"""

create_query_2 = """
    CREATE TABLE IF NOT EXISTS music_app_history_2 (
    artist text,
    first_name text,
    gender text,
    item_in_session int,
    last_name text,
    length float,
    level text,
    location text,
    session_id int,
    song text,
    user_id int,
    PRIMARY KEY ((user_id, session_id), item_in_session)
    );
"""

insert_query_2 = """
    INSERT INTO music_app_history_2 (
    artist,
    first_name,
    gender,
    item_in_session,
    last_name,
    length,
    level,
    location,
    session_id,
    song,
    user_id
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

# Drop table if exists
try:
    session.execute(drop_query_2)
except Exception as e:
    print(e)
    
    
# create table if not exists
try:
    session.execute(create_query_2)
except Exception as e:
    print(e)

In [39]:
# Call second insert Statement
insert_into_destination(insert_query_2)

In [41]:
# Select statement to run query
select_query_2 = """
    SELECT
        artist,
        song,
        first_name,
        last_name
    FROM music_app_history_2
    WHERE user_id = %s
    AND session_id = %s
    ORDER BY item_in_session
"""

try:
    rows = session.execute(select_query_2, (10, 182))
except Exception as e:
    print(e)

for row in rows:
    print (row.artist, row.song, row.first_name, row.last_name)

Down To The Bone Keep On Keepin' On Sylvie Cruz
Three Drives Greece 2000 Sylvie Cruz
Sebastien Tellier Kilometer Sylvie Cruz
Lonnie Gordon Catch You Baby (Steve Pitron & Max Sanna Radio Edit) Sylvie Cruz

### Query 3: Solution

**Question:** Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

**Type:** Composite primary key on song, session_id & item_in_session

**Reason:** We are asked to filter by song so that should come first. Session_id and item_in_session are added to ensure primary key is unique. No reason to add a clustering column as there were no other requirements in the where clause.

In [68]:

drop_query_3 = """DROP TABLE IF EXISTS music_app_history_3;"""

create_query_3 = """
    CREATE TABLE IF NOT EXISTS music_app_history_3 (
    artist text,
    first_name text,
    gender text,
    item_in_session int,
    last_name text,
    length float,
    level text,
    location text,
    session_id int,
    song text,
    user_id int,
    PRIMARY KEY (song, session_id, item_in_session)
    );
"""

insert_query_3 = """
    INSERT INTO music_app_history_3 (
    artist,
    first_name,
    gender,
    item_in_session,
    last_name,
    length,
    level,
    location,
    session_id,
    song,
    user_id
    )
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);
"""

# Drop table if exists
try:
    session.execute(drop_query_3)
except Exception as e:
    print(e)
    
    
# create table if not exists
try:
    session.execute(create_query_3)
except Exception as e:
    print(e)

In [69]:
insert_into_destination(insert_query_3)

In [77]:
select_query_3 = """
    SELECT
        first_name,
        last_name
    FROM music_app_history_3
    WHERE song = %s;
"""

try:
    rows = session.execute(select_query_3, ["All Hands Against His Own"])
except Exception as e:
    print(e)

for row in rows:
    print (row.first_name, row.last_name)

Sara Johnson
Jacqueline Lynch
Tegan Levine

### Drop the tables before closing out the sessions

In [79]:
try:
    session.execute(drop_query_1)
except Exception as e:
    print(e)
    
try:
    session.execute(drop_query_2)
except Exception as e:
    print(e)

try:
    session.execute(drop_query_3)
except Exception as e:
    print(e)

### Close the session and cluster connectionÂ¶

In [80]:
session.shutdown()
cluster.shutdown()